*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Hedvig Letters Serif', serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(23, 161, 152);
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #000000;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 15px;
}
.menu ul li a:hover{
    border-bottom: 4px solid #000;
    transition:0.3s;
}
a.active,a:hover{
    background: #38566d;
    transition: 0.5s; ;
}
.signup a{
    text-decoration: dotted;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 15px;
    border: 3px solid white;

}
.signup a:hover{
    background-color: rgb(0, 255, 166);
    transition: 0.5s;
}




.header{
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(./helena-lopes-PGnqT0rXWLs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service-item{
    box-shadow: 0 0 45px rgba(0,0,0,0.08);
    transition: 0.5s;
}
.service-item:hover{
    background: rgb(64, 176, 177);
}
.service-item *{
transition: 0.5s;
}
.service-item:hover *{
    color:black;
}
.destination img{
    transition:0.5s;
}
.destination a:hover img{
    transform:scale(1.1);
}
.image1{
    transition:0.5s;
}
.image1:hover{
    transform:scale(1.1);
  
}
.package-item {
    box-shadow: 0 0 45px rgba(0,0,0,0.08);
}
.package-item img{
    transition: 0.5s;
}
.package-item:hover img{
    transition: scale(1.1) ;
}
.btn{
    font-family: 'Nuito',sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.btn.btn-primary,
.btn.btn-secondary{
    color: #ffff;
}
.btn-square{
    width:38px;
    height: 38px;
}
.booking{
    background:linear-gradient(rgba(15,23,43,0.7),rgba(15,23,43,0.7)),url(./alex-king-pzM4E7OhWLk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.team-item{
    box-shadow: 0 0 45px rgba(0,0,0,0.08);
}
.team-item img{
    transition: 0.5s;
}
.team-item:hover img{
    transform: scale(1.1);
}
.team-item .btn{
    background: #ffffff;
    color: peru;
    border-radius: 20px;
    border-bottom: 1px solid black;
}
.team-item .btn:hover{
    background: rgb(24, 187, 26);
    color: #ffffff;
}
.footer{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: palegreen;
}
.footer a{
    text-decoration: none;
    color:black;
    border-radius: 12px;
    padding: 8px 14px;
    font-size: 12px;
    font-weight: bold;
}
.footer a:hover{
    background-color:#fee;
    text-decoration: dashed;
    letter-spacing: 1px;
    transition: 0.2s;
}
@media screen and (max-width: 1024px) {
    nav {
        padding: 15px 20px;
    }

    label .menu_btn {
        display: block;
    }

    nav ul {
        display: block;
        background: var(--white-color);
        position: absolute;
        top: 75px;
        left: -100%;
        overflow-y: auto;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.15s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~label .close_btn {
        display: block;
    }

    #click:checked~label .menu_btn {
        display: none;
    }

    nav ul li {
        display: block;
        padding: 8px 12px;
        width: 48%;
        margin: 24px auto;
    }

    nav ul li a {
        color: var(--dark-color);
    }

    .hero_container {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 32px;
    }

    .hero_container .image_section {
        max-width: 100%;
        text-align: center;
    }

    .hero_container .image_section img {
        max-width: 90%;
        align-items: center;
    }

    .hero_container .text_section {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero_container .text_section p {
        max-width: 100%;
    }

    .about_container {
        flex-direction: column;
    }

    .about_container .text_section {
        max-width: 100%;
    }

    .services .service_container {
        gap: 50px;
    }

    .section_container .services_items {
        width: calc(100% / 2 - 50px);
    }

    .why_us .why_container {
        gap: 50px;
    }

    .why_container .why_items {
        width: calc(100% / 2 - 50px);
    }

    .gallery .gallery_container {
        justify-content: center;
    }

    .gallery_container .gallery_items {
        width: calc(100% / 2 - 50px);
    }

    .contact_container {
        flex-direction: column-reverse;
    }

    .contact_text .contact_items {
        margin: 25px 0;
    }

    .contact_container .contact_form {
        max-width: 100%;
    }

    .footer_section {
        flex-direction: column;
        gap: 24px;
    }

    .footer_section .useful_links {
        text-align: start;
    }
}
@media screen and (max-width: 576px) {
    .section_title {
        padding: 50px 0;
    }

    nav .nav_logo a img,
    .footer_section .footer_logo a img {
        max-width: 45px;
    }

    nav .nav_logo h2 {
        font-size: 30px;
    }

    .hero_container {
        justify-content: space-evenly;
    }

    .hero_container .text_section h2 {
        font-size: 30px;
    }

    .hero_container .text_section h3 {
        font-size: 26px;
    }

    .hero_container .image_section img {
        max-width: 80%;
    }

    .hero_container .text_section p {
        font-size: 17px;
    }

    .about_container .image_section {
        max-width: 70%;
    }

    .button {
        padding: 10px 20px !important;
        font-size: 15px !important;
    }

    .section_container .services_items,
    .why_container .why_items {
        width: 100%;
        text-align: center;
    }

    .gallery_container .gallery_items {
        flex-direction: column;
        width: 100%;
    }

    .services .service_container,
    .why_us .why_container {
        gap: 70px;
    }

    .section_container .services_items img {
        max-width: 80%;
    }
}
